<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="ExcelImport">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload Customer excel file:</p>
            <input type="file" name="file" multiple />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" />
            <a href="/home/DownloadTemplate">Download Template</a>
        </div>
    </div>
</form>